# Model configurations 
MODEL:
  # The backbone can be a class of Resnet or a VisionTransformer
  BACKBONE: 'seresnet50'
  BNNECK: True
  PRETRAINED: True
  PATCH_SIZE: 16
  STRIDE_SIZE: 16
  HEATMAP_SIZE: [64, 64]


DATASET:
  TRAIN: 'atrw'
  TEST: 'atrw'
  ROOT: 'pose_datasets/ATRW_augmented_double_entity'
  MASK_DIR: 'segmentation_bckg_abs_0.5'
  # Number of keypoints from the pose model
  NUM_PARTS: 4
  BACKGROUND_KPT: True
  BATCH_SIZE: 128
  TEST_BATCH_SIZE: 128
  NUM_INSTANCES: 16
  NUM_WORKERS: 8
  VISIBILITY_THRESHOLD: 0.4


INPUT:
  RESIZE: [256, 256]
  CROP: [256, 256]
  MEAN: [0.485, 0.456, 0.406]
  STD: [0.229, 0.224, 0.225]
  

OPTIMIZER:
  NAME: 'adamw'
  LR: 0.000085
  LR_CLASSIFIER_RATIO: 1
  LR_DECODER_RATIO: 1
  LR_AGG_ATTN_RATIO: 1
  WEIGHT_DECAY: 0.0005
  MOMENTUM: 0.9


SCHEDULER:
  DECAY_RATE: 0.5
  LR_MIN_RATIO: 0.8
  NAME: CosineLRScheduler
  NUM_CYCLES: 1
  WARMUP_EPOCHS_RATIO: 0.05
  WARMUP_LR_INIT_RATIO: 0.002


LOSS:
  REID: 'CrossEntropyLoss+TripletLoss'   
  WEIGHT_CE: 1.0
  WEIGHT_TRIPLET: 0.5
  WEIGHT_REID: 1.0
  # Take into account if the CE loss is active
  LABELSMOOTH: True
  LS_EPSILON: 0.2
  MINING: 'hard'
  # Triplet loss margin. Take into account if the Triplet loss is active
  MARGIN: 0.4
  DIRECTION: 'BCEWithLogitsLoss'
  WEIGHT_DIRECTION: 1.0


TRAIN:
  TEST_ONLY: False
  LOAD_MODEL: False
  WEIGHTS_PATH: './exp_atrw_seresnet/best_model_epoch=40.pth'
  RESUME: False
  RES_PATH: './exp_atrw_seresnet/'
  NUM_EPOCHS: 50
  EVAL_PERIOD: 10
  LOG_PERIOD: 1
  EARLY_STOP: 100
  FP16: False


# Adding variables of hp tuning
HP_TUNING: False


LOG_PATH: './exp'
DEVICE_ID: [0]